<h3>Profile Page</h3>

<h4><%= @user.name %>'s Emapanada Orders</h4>

<% if @user.orders.any? %>
<div class="orders">
  <% @user.orders.each do |order|%>
  <h3><%= order.delivery_date %></h3>
  <p>Total cost: <%= order.total %></p>
  <% if order.paid %>
  <p>PAID with <%= order.payment_type %></p>
  <% else %>
  <p>Please give the empanada master your money!  Your specified payment type is : <%= order.payment_type %></p>
  <% end %>
  <ul>
    <% order.ordered_empanadas.each do |ordered_empanada|%>
      <% if ordered_empanada.quantity %>
    <li><%= ordered_empanada.quantity %> <%= ordered_empanada.name %> empanadas</li>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</div>
<% else %>
  <p>This user hasn't ordered any empanadas</p>
<% end %>
