<h1><%= Order.count_all(@orders) %> Total Empanadas in this Order</h1>
<% EmpanadaType.all.count.times do |i| %>
  <p><%= EmpanadaType.find(i+1).name %> - <%= Order.adder(@orders, i+1) %></p>
  <p>+++++++++++++++</p>
<% end %>

<h2>Order Details:</h2>
<ul>
<% @orders.each do |order| %>
  <li><%= order.eater.name %></li>
  <li><%= order.paid %></li>
  <li><%= order.payment_type %></li>
  <li><%= order.delivery_date %></li>
  <li><%= order.total %></li>
  <% order.ordered_empanadas.each do |ordered_empanada| %>
  <li><%= ordered_empanada.name %> - <%= ordered_empanada.quantity %></li>
  <% end %>
  <% if !order.paid %>
    <a href="/orders/<%= order.id %>">PAID</a>
  <% end %>
  <p>*********************</p>
<% end %>
</ul>

