<% EmpanadaType.all.count.times do |i| %>
  <h1><%= EmpanadaType.find(i+1).name %></h1>
  <h3><%= Order.adder(@orders, i+1) %></h3>
  <p>+++++++++++++++</p>
<% end %>


<!-- <ul>
<% @orders.each do |order| %>
  <li><%= order.eater.name %></li>
  <li><%= order.paid %></li>
  <li><%= order.payment_type %></li>
  <li><%= order.delivery_date %></li>
  <li><%= order.total %></li>
  <li><%= order.count_all %></li>
  <p>+++++++++++++++</p>
  <% order.ordered_empanadas.each do |ordered_empanada| %>
  <li><%= ordered_empanada.name %></li>
  <li><%= ordered_empanada.quantity %></li>
  <p>+++++++++++++++</p>
<% end %>
<% end %>
<% 5.times do |i| %>
  <h1><%= EmpanadaType.find(i+1).name %></h1>
  <h3><%= Order.adder(@orders, i+1) %></h3>
  <p>+++++++++++++++</p>
  <% end %>
</ul> -->

<!-- go through each order from a given date -->
<!-- go through each ordered empanada and add the quantity to the accumulator -->
<!-- return the numbers for each empanada type -->

<!-- ordered_empanadas.where(empanada_type_id: "1").sum(:quantity) -->
 <!-- o.map { |x| x.beef } -->
 <!-- x.reduce(:+) -->

<!-- o.map { |order| order.type_sum(1) }.reduce(:+) -->
